/* *{
    margin: 0;
    padding: 0;
} */
.body{
    background-image: url("./../image/fon-2.jpg");
    color: white
}

.h2
{
    text-align: center;
    font-size: 28px;
    color: white;
}

.index_h
{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    color: white;
}

.index_p
{
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
}

.list_i
{
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
}

.index_h_fancy
{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    /* -webkit-text-fill-color: transparent;s */
    color: white;
}

.ul li
{
    list-style-type: none;
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
}

.school
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}

.nav
{
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 3px;
}

.nav_li
{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    color: white;
}

.nav_li_a
{
    list-style-type: none;
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 3px;
}

.nav_li_a_active
{
    list-style-type: none;
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    padding: 7px 7px;
    border-radius: 3px;
}

.nav_ul
{
    text-align: center;
    padding-top: 15px;
}

.a.active, a:hover
{
    background: gray;
    transition: 0.5s;
    }

.check_btn
{
    vertical-align: middle;
    font-size: 30px;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media not screen and (min-width:1024px)
{
}

.table_c
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}

.index_h2
{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    color: white;
}

@media not screen and (min-width:1024px)
{
    [class*="index_h"]
    {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 42px;
        color: white;
    }

    [class*="index_p"]
    {
        color: white;
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 32px;
    }

    [class*="index_h_fancy"]
    {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 42px;
        background: -webkit-linear-gradient(#00c95a, #124724);
        -webkit-text-fill-color: transparent;
    }
}